/.husky
/.gitignore
/.lintstagedrc.json
/.npmignore
/.prettierrc.json
/cliff.yaml
/eslint.config.ts
/tsconfig.json
/tsconfig.build.json
/vitest.config.ts

node_modules

/lib
/generated

/coverage
*.lcov

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

/log
/logs
*.log
*-debug.log*
.*-debug.log*

.DS_Store
.cache
.eslintcache
.npm
.pnpm*
*.tsbuildinfo

.env*
!.env*.example

.state/